@import '~bootstrap/scss/bootstrap';


#admin {
    height: 100vh;
    display: flex;

    #wrapper-admin {
        flex-grow: 1;

        header {
            min-height: 70px;

            .img-profile {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    #sidebarMenu {
        background-color: black;
        color: white;
    }
}