//RESTAURANTS

// background
.restaurants-background{
  background: url('/public/img/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  border-radius: 25px;
}


// ORARI
.day-open{
    margin-left: 10px;
    margin-right: 5px;
}

// COLOR TEXT
.text-white{
    color: aliceblue;

}

